colour-science==0.4.7
et-xmlfile==2.0.0
iniconfig==2.3.0
numpy==2.5.3
openpyxl==3.1.5
packaging==26.3
pluggy==1.6.0
pygments==2.21.0
pyside6==6.11.2
pyside6-addons==6.11.2
pyside6-essentials==6.11.2
pytest==9.1.1
scipy==1.18.1
shiboken6==6.11.2
